@import "../../_globalColor";

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card-title {
  color: $titleColor;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  margin: 15px 0 0 0;
}

.card-subtitle {
  color: $cardSubtitle;
  font-size: 17px;
  line-height: 1.5rem;
}

.projects-container {
  margin-top: 1.5rem;
}

.project-card-wrapper {
  padding: 0 10px;
  box-sizing: border-box;
  height: 100%;
  display: flex !important;
}

/* Force Equal Height with React Slick */
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto;
  display: flex;
  height: inherit;

  &>div {
    display: flex;
    flex: 1;
    width: 100%;
  }
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: $lightBackground2;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid $lightBorder1;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  min-height: 550px;
  /* Ensure a good minimum size */
}

.project-detail {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card-light {
  box-shadow: $lightBoxShadowDark 0px 10px 30px -15px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project-card-dark {
  box-shadow: 0px 10px 30px -15px $darkBoxShadow;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.25s ease;
}

.project-card-light:hover {
  box-shadow: $lightBoxShadowDark 0px 20px 30px -10px;
}

.project-card-dark:hover {
  box-shadow: 0px 20px 30px -10px $darkBoxShadow;
}

.project-image {
  position: relative;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


.project-card-footer span.project-tag {
  background: $buttonColor;
  color: $lightBackground3;
  vertical-align: middle;
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  white-space: nowrap;
  line-height: 1.5;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0 0.75em;
  cursor: pointer;
  transition: 0.2s ease-in;
}

@media (max-width: 768px) {
  .project-subtitle {
    font-size: 16px;
    text-align: center;
  }

  .project-card {
    min-height: auto;
    padding: 1rem;
  }

  .project-image {
    height: 200px;
  }
}

.project-button-div {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}